body{
    margin:0;
    font-family:'Segoe UI',sans-serif;
    background: linear-gradient(90deg,#4f46e5,#9333ea);
    color: white;
    }
    
    .navbar{
    background:#ffffff;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
    position:sticky;
    top:0;
    z-index:1000;
    }
    
    .container{
    max-width:1200px;
    margin:auto;
    padding:0 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    height: 61px;
    }
    
    .logo{
    font-size:1.5rem;
    font-weight:bold;
    color:#111827;
    }
    
    .menu{
    list-style:none;
    display:flex;
    gap:20px;
    }
    
    .menu a{
    text-decoration:none;
    color:#374151;
    font-weight:500;
    position:relative;
    }
    
    .menu a:hover{
    transform:translateY(-2px);    
    color:#111827;
    }

    .menu a:hover::after{
        width:100%;
        }
        
    .menu a::after{
        content:"";
        position:absolute;
        left:0;
        bottom:-5px;
        width:0;
        height:2px;
        background:#2563eb;
        transition:0.3s;
        }
    
    .cta-btn{
    padding:8px 14px;
    border:none;
    background:#111827;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    }
    
    .hamburger{
    display:none;
    flex-direction:column;
    gap:5px;
    cursor:pointer;
    }
    
    .hamburger span{
    height:3px;
    width:25px;
    background:#374151;
    }
    
    @media(max-width:768px){
    
    .menu{
    display:none;
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    background:#fff;
    flex-direction:column;
    padding:10px 0;
    }
    
    .menu.show{
    display:flex;
    }
    
    .cta-btn{
    display:none;
    }
    
    .hamburger{
    display:flex;
    }
    
    }